<h1>Editing harvesting_record</h1>

<%= render 'form' %>

<div class="row">
   <div class="small-4 columns">
      <%= link_to 'All Harvesting Records', harvesting_records_path %>
   </div>
   <div class="small-4 columns">
      <p class="text-center"><%= link_to 'Show', @harvesting_record %> </p>
   </div>
   <div class="small-4 columns">
      <p class="text-right"><%= link_to 'New Harvesting Record', new_harvesting_record_path %></p>
   </div>
</div>
