<h1>New Harvesting Record</h1>

<%= render 'form' %>

<div class="row">
   <div class="small-4 columns">
      <%= link_to 'All Havesting Records', harvesting_records_path %>
   </div>
   <div class="small-4 columns">
   </div>
   <div class="small-4 columns">
   </div>
</div>