<h4 align="center">Updating Active Plant</h4>

<%= render 'form_update' %>   
<div class="row">
   <div class="small-4 columns">
      <%= link_to 'All Active Plants', active_plants_path %>
   </div>
   <div class="small-4 columns">
      <p class="text-center"><%= link_to 'Show', @active_plant %> </p>
   </div>
   <div class="small-4 columns">
      <p class="text-right"><%= link_to 'New Active Plant', new_active_plant_path %></p>
   </div>
</div>
