<h1>New Active Plant</h1>
<h2>Creates planting data.</h2>

<%= render 'form' %>


<div class="row">
   <div class="small-4 columns">
      <%= link_to 'All Active Plants', active_plants_path %>
   </div>
   <div class="small-4 columns">
   </div>
   <div class="small-4 columns">
   </div>
</div>
