<h1>Editing harvest_type</h1>

<%= render 'form' %>

<div class="row">
   <div class="small-4 columns">
      <%= link_to 'All Harvest Types', harvest_types_path %>
   </div>
   <div class="small-4 columns">
      <p class="text-center"><%= link_to 'Show', @harvest_type %> </p>
   </div>
   <div class="small-4 columns">
      <p class="text-right"><%= link_to 'New Harvesting Type', new_harvest_type_path, { :class=>"button small round success" } %></p>
   </div>
</div>
