<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @harvest_type.name %>
</p>

<%= link_to 'Edit', edit_harvest_type_path(@harvest_type) %> |
<%= link_to 'All Harvest Types', harvest_types_path %>
