<h1>New plant</h1>

<%= render 'form' %>

<div class="row">
   <div class="small-12 columns">
      <div class="small-4 columns">
         <%= link_to 'All Plants', plants_path %>
      </div>
      <div class="small-4 columns">
         
      </div>
      <div class="small-4 columns">
         
      </div>
   </div>
</div>