<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plant_status.name %>
</p>

<%= link_to 'Edit', edit_plant_status_path(@plant_status) %> |
<%= link_to 'Back', plant_statuses_path %>
