<div class="row">
  <div class="small-12 columns">
     <%= render 'show' %>

     <%= link_to 'Edit', edit_planting_path(@planting) %> |
     <%= link_to 'All Plantings', plantings_path %>
   </div>
</div>
