// Place all the styles related to the base controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.small i { font-size: 0.8rem; }
.medium i { font-size: 1rem; }
.large i { font-size: 1.2rem; }

.fi-edit {
   font-size: 20px
}